@import '~antd/dist/antd.css';

body{
  background-image: radial-gradient(circle, white , silver);
}

.App {
  text-align: center;

}

.imageContainer{
    display: flex;
    flex-flow: wrap;
    flex-wrap: wrap;
    margin: 1% 15% 0 15%;
}

.imageFiles{
  flex: 1 auto;
  width: 40%;
  margin-right: 1%;
  margin-bottom: 1%;

  border: 2px solid yellow;
}

.nav{
  border: 1px solid black;
}

.img{

}
